{% extends 'home.html' %}

{% block content %}


<center>
<h2>Change password</h2>
<div class="content-section col-md-8 col-md-offset-2">
    <div class="content-section col-md-8 col-md-offset-2">
<form method="post" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:5%;">
    {% csrf_token %}
    {{ form.as_ul }}
    <br>
    <button type="submit" class="btn btn-primary">&nbsp; Submit</button><br>
    <a href="{% url 'home' %}">Back to home</a>
</form>
<br>

</div>
</div>
</center>
{% endblock %}